.d-link {
    color: var(--iq-primary);
    transition: all 0.5s ease-out 0s;
    cursor: pointer;
}

.d-link:hover {
    color: #0056b3;
}

.bdrs5 {
    border-radius: 5px;
}

.bdr-100 {
    border-radius: 100%;
}

.pointer {
    cursor: pointer;
}

.input-light-primary {
    background-color: var(--iq-light-primary);
    width: 100%;
    border: none;
}

.br-0 {
    border: none;
}

.box-like-btn {
    padding: .5rem .75rem;
    background-color: var(--iq-light-primary);
}

.dropdown-toggle::after {
    content: none;
}

.react-select__control, .react-select__menu {
    background-color: var(--iq-light-primary) !important;
    border: none !important;
}

.react-select__placeholder, .react-select__single-value {
    color: var(--iq-primary) !important;
}

/* checkbox */

input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: #fff;
    border: solid 1px gray;
    height: 22px;
    width: 22px;
    transition: all 0.6s;
}

input[type="checkbox"]:checked {
    background: var(--iq-primary);
}

input[type="checkbox"]:hover {
    filter: brightness(90%);
}

input[type="checkbox"]:disabled {
    background: #fff;
    opacity: 0.6;
    pointer-events: none;
}

input[type="checkbox"]:after {
    content: '';
    position: relative;
    left: 40%;
    top: 18%;
    width: 25%;
    height: 60%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}

input[type="checkbox"]:checked:after {
    display: block;
}

/* //////////////////////////////// */

.mess-input-picker {
    position: absolute;
    bottom: 60px;
}

.uploadPictureContainer {
    text-align: center;
    height: 150px;
    width: 150px;
    margin: 2% 3%;
    background-color: var(--main-dropdown-color);
    height: inherit;
    position: relative;
}

.chat-box .uploadPictureContainer {
    width: 100px;
}

.preview-image-post {
    padding: 10px;
}

.preview-file-post {
    width: 100%;
    margin-top: 15px;
}

.uploadPictureContainer img.uploadPicture {
    width: 100%;
}

.deleteImage {
    position: absolute;
    top: -9px;
    right: -9px;
    cursor: pointer;
}

.fileContainer-message {
    bottom: 80px;
    position: absolute;
    border-radius: 10px;
    transition: all 0.3s ease-in;
    width: 80%;
}

.fileContainer-message>div {
    display: flex;
}

.chat-img {
    height: 400px;
}

.chat-img .border {
    border: 1px solid #dee2e6!important;
}

.preview-mess, .chat-sidebar-name>h6, .caption h6, .name-chat-box, .name-right-sidebar span, .preview-file-name {
    overflow: hidden!important;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.name-right-sidebar span {
    width: 80%;
}

.preview-mess {
    font-size: 12px !important;
}

.caption {
    max-width: 120px;
}

.res-cmt-item {
    list-style: none;
}

.cmt-content {
    color: #EBECE7;
    border-radius: 18px;
    word-break: break-word;
    word-wrap: break-word;
}

.cmt-content strong {
    color: rgb(176, 208, 230);
}

.comment-input-picker {
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 3;
    margin: -460px 100px 0px 0px;
    background-color: none;
    border: none;
}

.uk-text-small {
    display: flex;
}

.on-scroll {
    overflow-y: auto !important;
}

.readed-false {
    background-color: rgb(45, 57, 99);
}

.readed-false a, .readed-false div {
    color: #D7BA66
}

.header-nav {
    z-index: 3;
}

/* color of icon */

.fa-times {
    color: #EA4335;
}

/* style chat box --------------------------------------------------- */

.more {
    display: flex;
    margin-left: 30px;
}

.more>div {
    padding: 0px 5px;
    cursor: pointer;
}

.more i {
    font-size: 20px;
}

.more-optns>ul {
    border-radius: 3px;
    color: #333;
    line-height: initial;
    list-style: outside none none;
    margin-bottom: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 90%;
    z-index: 22;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear 0s;
    width: 170px;
}

.more-optns:hover>ul {
    opacity: 1;
    visibility: visible;
}

.more-optns>ul li {
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 24px;
    text-transform: capitalize;
    width: 100%;
}

.more-optns>ul li:hover, .reacted {
    color: var(--iq-primary);
}

.chat-list {
    display: inline-block;
    position: relative;
    width: 100%;
}

.notification-event {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
    width: 84%;
}

.notification-date {
    color: #999;
    display: inline-block;
    font-size: 11px;
    width: 100%;
}

.chat-friendz {
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.more-optns>ul {
    background: #00001a;
    color: #959ab5;
    ;
}

.fa-circle {
    color: #49F0D3;
}

.status {
    margin-right: 10px;
}

.chat-box .chat-content {
    height: 300px;
}

.chat-box .chat-img {
    height: 200px;
}

.chat-box .chat-user img {
    border-radius: 100%;
}

.chat-box.show {
    transform: translate(0) scale(1);
    visibility: visible;
}

.chat-box .chat-head {
    color: #e1e8ed;
    display: flex;
    padding: 10px 20px;
    position: relative;
    width: 100%;
    background: #50B5FF;
}

.name-chat-box {
    width: 50%;
}

.chat-box {
    border-radius: 3px;
    bottom: -2px;
    position: absolute;
    right: 100%;
    width: 300px;
    height: 420px;
    z-index: 9999999;
    transition: all 0.2s linear 0s;
    border: 1px solid #e1e8ed;
    text-align: left;
    background: #1d2333;
    border-color: #272f41;
    bottom: 80px;
}

.chat-box .css-y1c0xs {
    padding-bottom: 0rem;
}

.chat-box .bubble-me, .chat-box .bubble-you {
    background: #141a2a;
    color: var(--iq-dark-body-text);
    border-radius: 7px;
    display: inline-block;
    font-size: 14px;
    padding: 8px 12px;
}

.chat-box .chat-message {
    margin-right: 8px;
}

.chat-box .chat-left .chat-message {
    margin-left: 8px;
}

.text-box {
    padding: 0px 15px;
}

/* //////////////////////// viet anh social */

.write {
    padding: 0px 10px;
    border-radius: 5px;
    background: #282e3e none repeat scroll 0 0;
    height: 67px;
}

.write textarea {
    width: 100%;
    font-size: 15px;
    margin-top: 5px;
    background: #282e3e none repeat scroll 0 0;
    border-color: #272f41;
    color: #fff;
}

.write .icons {
    display: flex;
}

.write .icons i {
    font-size: 20px;
    margin-right: 10px;
    color: #50B5FF;
}

#image-chat, #attach-chat {
    display: none;
}

/* animation---------------------------------------------------------------- */

/* appear - on page load */

.fade-appear {
    opacity: 0;
    z-index: 1;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 1000ms linear;
}

/* enter */

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms linear;
}

/* exit */

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 1000ms linear;
}

.fade-exit-done {
    opacity: 0;
}


/* slide appear */
.slide-appear {
    opacity: 0;
    transform: scale(0.5) translateX(5px);
    z-index: 1;
}

.slide-appear.fade-appear-active {
    opacity: 1;
    transform: scale(1) translateY(0);
    transition: opacity 300ms linear, transform 400ms ease-in-out;
}

/* slide enter */

.slide-enter {
    opacity: 0;
    transform: scale(0.5) translateY(5px);
    z-index: 1;
}

.slide-enter.slide-enter-active {
    opacity: 1;
    transform: scale(1) translateY(0);
    transition: opacity 300ms linear, transform 400ms ease-in-out;
}

/* slide exit */

.slide-exit {
    opacity: 1;
    transform: scale(1) translateY(0);
}

.slide-exit.slide-exit-active {
    opacity: 0;
    transform: scale(0.5) translateY(5px);
    transition: opacity 300ms linear, transform 400ms ease-out;
}

.slide-exit-done {
    opacity: 0;
}


/* slide-page appear ---------------------------------------*/
.slide-page-appear {
    opacity: 0;
    transform: scale(0.5) translateX(5px);
    z-index: 1;
}

.slide-page-appear.fade-appear-active {
    opacity: 1;
    transform: scale(1) translateY(0);
    transition: opacity 300ms linear, transform 400ms ease-in-out;
}

/* slide-page enter */

.slide-page-enter {
    opacity: 0;
    transform: scale(0.5) translateY(5px);
    z-index: 1;
}

.slide-page-enter.slide-page-enter-active {
    opacity: 1;
    transform: scale(1) translateY(0);
    transition: opacity 300ms linear, transform 400ms ease-in-out;
}

/* slide-page exit */

.slide-page-exit {
    opacity: 1;
    transform: scale(1) translateY(0);
}

.slide-page-exit.slide-page-exit-active {
    opacity: 0;
    transform: scale(0.5) translateY(5px);
    transition: opacity 300ms linear, transform 400ms ease-out;
}

.slide-page-exit-done {
    opacity: 0;
}


/* chat video modal------------------------------------------------------------------- */

.modal-videocall, .modal-videocall .modal-content, .modal-videocall .modal-body {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: fixed;
}

.video-control {
    position: absolute;
    bottom: 20px;
    height: 72px;
    width: 100%;
    text-align: center;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.video-control button {
    border: none;
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin: 0px 8px;
    font-size: 1.4em;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.25s;
    outline: none;
}

.toggle-video, .toggle-mic {
    background-color: #00AFF0;
}

.video-control i {
    color: #ffffff;
}

.hangup {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background-color: #E81123;
}

#remote-stream {
    height: 100%;
    width: 100%;
}

#local-stream {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 20%;
}

/* post react + cmt + share */

.post-state {
    display: flex;
}

.post-state .post-state-btns {
    font-size: 14px;
    width: 100%;
    transition: all .1s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-state .post-state-btns i {
    font-size: 19px;
    margin-right: 4px;
}

.post-state-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-right: 4px;
}

.total-like-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-reaction {
    width: 26px;
    height: 26px;
}

.avatar-20 {
    width: 20px;
    height: 20px;
}

.img-media {
    width: 32px;
    height: 32px;
}

.post-state-details * img:nth-child(2) {
    margin-left: -6px;
    z-index: 1;
}

.post-state-details p {
    margin-bottom: 0;
    font-size: 13px;
}

.total-like-img-dropdown {
    min-width: 20rem;
}

.nav-pills .show .dropdown-menu .nav-link {
    background-color: var(--iq-dark);
}

.total-like-block .nav-link {
    padding: .5rem 0.7rem;
    display: flex;
}

.more-icon-btn {
    color: var(--iq-primary) !important;
    padding: .4rem 0.7rem;
    cursor: pointer;
}

.more-icon {
    padding: 5px 0px;
}

.post-comments .view-more-comment {
    margin-bottom: 8px;
    font-size: 13.5px;
}

.post-comments .view-more-comment:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post-comments-single {
    display: flex;
}

.post-comment-text {
    position: relative;
    margin-left: 15px;
    max-width: 80%;
}

.list-res-cmt .post-comment-text {
    max-width: 60%;
}

.post-comment-text-inner {
    max-width: 100%;
    background-color: var(--iq-light-primary);
    padding: 10px;
    border-radius: 9px;
    margin-bottom: 3px;
    word-break: break-word;
}

.input-res-cmt-block {
    margin: 0px 0px 15px 8%;
}

.post-comment-text-inner h6 {
    color: var(--iq-primary);
    font-size: 14.5px;
}

.post-comment-text-inner p {
    margin-bottom: 0;
}

.post-comment-text::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid;
    border-right-color: var(--iq-light-primary);
    left: -7px;
    right: auto;
    top: 12px;
    position: absolute;
}

.post-comment-opt {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 100%;
    margin-left: 5px;
    flex: none;
}

.post-comment-opt:hover, .post-comment-opt:focus {
    background-color: var(--iq-light-primary)
}

.icon-post-comment-opt {
    font-size: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.post-comment-avatar img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.post-add-comment {
    transition: all .2s ease;
    display: flex;
    position: relative;
    margin-top: 15px;
}

.post-add-comment-text-area textarea {
    border: 0;
    width: 80%;
    max-height: 100px;
    padding-top: 4px;
    background: var(--iq-light-primary);
    color: var(--iq-dark-body-text);
    outline: 0;
}

.post-add-comment-text-area {
    background-color: var(--iq-light-primary);
    margin-left: 10px;
    position: relative;
    width: 100%;
    border-radius: 20px;
    padding: 3px 15px;
}

.post-add-comment-text-area .icons {
    position: absolute;
    right: 15px;
    top: 10px;
}

.post-add-comment-text-area .icons i {
    font-size: 19px;
    margin-left: 10px;
}

/* ////////////////// */

.btn:hover {
    background-color: var(--iq-primary) !important;
    color: #333333 !important;
    cursor: pointer;
}

.comment-data-block {
    max-width: 90%;
}

.time-cmt {
    text-transform: lowercase !important;
    color: var(--iq-primary) !important;
}

.res-input {
    width: 85%;
}

.react-cmt {
    position: absolute;
    right: 0;
    bottom: 20px;
}

.file-post {
    display: flex;
}

.file-post>div {
    margin: auto 0;
}

.preview-file-name {
    max-width: 75% !important;
}

#carouselIndicators .carousel-indicators {
    bottom: -40px;
}

#carouselIndicators .carousel-control-prev {
    left: -40px;
}

#carouselIndicators .carousel-control-next {
    right: -40px;
}

.spinner-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.test-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.map {
    height: 405px;
}

.save-cover-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3
}

.input-avatar-container {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
}

.input-avatar-container>div {
    background-color: rgb(14, 15, 15);
    opacity: 0;
    width: 130px;
    height: 65px;
    margin-top: 65px;
    transition: all 0.4s;
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
}

.input-avatar-container>div:hover {
    opacity: 0.7;
}

.preview-avatar {
    text-align: center;
}

.content-upload-avatar textarea {
    border: 0;
    width: 70%;
    max-height: 100px;
    padding: 10px;
    background: var(--iq-light-primary);
    color: var(--iq-dark-body-text);
    outline: 0;
}

.modal-header .close {
    color: red;
    opacity: 1;
}

.met-vl>.col-sm-12 {
    padding: 0 !important;
}

.search-results:before {
    float: right;
    content: '';
    display: block;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid #CCC;
    border-color: transparent transparent #FFF;
    margin: -20px 0px 0px -20px;
}

.search-results {
    border-radius: 0px 0px 10px 10px;
    margin-top: 5px;
    width: 480px;
    float: right;
    position: absolute;
    background: var(--iq-dark-box);
    border: solid 1px rgba(100, 100, 100, .20);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .20);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .20);
    z-index: 999;
}

.user-finded {
    line-height: 60px;
    border-bottom: 1px solid var(--iq-border-dark);
}

.toggleColor { 
    color: #2ACC77;
}

.dropdown-menu-top{
    margin : -70px 0px 0px -210px;
}

.dropdown-menu{
    color: var(--iq-dark-body-text)
}